<?xml version="1.0"?>
<config>
    <modules>
        <Firebear_ImprovedImport>
            <version>1.0.0</version>
        </Firebear_ImprovedImport>
    </modules>
    <global>
        <models>
            <improvedimport>
                <class>Firebear_ImprovedImport_Model</class>
            </improvedimport>
            <catalog>
                <rewrite>
                    <convert_adapter_product>Firebear_ImprovedImport_Model_Catalog_Convert_Adapter_Product</convert_adapter_product>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <product_attribute_backend_media>Firebear_ImprovedImport_Model_Catalog_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog>
            <customer>
                <rewrite>
                    <convert_adapter_customer>Firebear_ImprovedImport_Model_Customer_Convert_Adapter_Customer</convert_adapter_customer>
                </rewrite>
            </customer>
            <importexport>
            		<rewrite>
            			<export_entity_product>Firebear_ImprovedImport_Model_Export_Entity_Product</export_entity_product>
           		 </rewrite>
            </importexport>
            <dataflow>
                <rewrite>
                    <convert_parser_csv>Firebear_ImprovedImport_Model_Export</convert_parser_csv>
                </rewrite>
            </dataflow>
        </models>
        <helpers>
            <improvedimport>
                <class>Firebear_ImprovedImport_Helper</class>
            </improvedimport>
        </helpers>
         <importexport module="importexport">
          <export_product_types>
            <bundle>improvedimport/export_entity_product_type_bundle</bundle>
          </export_product_types>
         </importexport>
    </global>

    <default>
        <improvedimport>
            <general>
                <enabled>1</enabled>
            </general>
            <imagesoptions>
                <image_exclude_enabled>1</image_exclude_enabled>
                <image_sku_enabled>1</image_sku_enabled>
                <multiple_image_column_name>additional_images</multiple_image_column_name>
                <multiple_image_url_column_name>additional_images_urls</multiple_image_url_column_name>
                <main_images_url_enabled>1</main_images_url_enabled>
            </imagesoptions>
            <customoptions>
                <custom_options_enabled>1</custom_options_enabled>
            </customoptions>
            <tierprices>
                <tier_prices_enabled>1</tier_prices_enabled>
            </tierprices>
            <customers>
                <customers_enabled>1</customers_enabled>
                <password_column_name>password</password_column_name>
            </customers>
            <imagesexport>
                <multiple_image_export_column_name>additional_images</multiple_image_export_column_name>
            </imagesexport>
        </improvedimport>
    </default>


</config>