/.directory
/.DS_Store
/dev
/downloader
/errors
/includes
/lib
/shell
/var
/.htaccess
/.htaccess.sample
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_EE.html
/LICENSE_EE.txt
/changelog.md
/composer.json
/error.log
/mage
/php.ini.sample
/RELEASE_NOTES.txt
/js
/test
/skin
/media
/app/bootstrap.php
/app/Mage.php
/app/.htaccess
/app/locale
/app/design
/app/code/core
/app/code/community/Cm
/app/code/community/Phoenix
/app/code/community/OnTap
/app/code/local
/app/etc/local.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/etc/config.xml
/app/etc/enterprise.xml
/app/etc/modules/Mage_Authorizenet.xml
/app/etc/modules/Mage_Bundle.xml
/app/etc/modules/Mage_Captcha.xml
/app/etc/modules/Mage_Centinel.xml
/app/etc/modules/Mage_Compiler.xml
/app/etc/modules/Mage_ConfigurableSwatches.xml
/app/etc/modules/Mage_Connect.xml
/app/etc/modules/Mage_CurrencySymbol.xml
/app/etc/modules/Mage_Downloadable.xml
/app/etc/modules/Mage_ImportExport.xml
/app/etc/modules/Mage_Oauth.xml
/app/etc/modules/Mage_PageCache.xml
/app/etc/modules/Mage_Persistent.xml
/app/etc/modules/Mage_Weee.xml
/app/etc/modules/Mage_Widget.xml
/app/etc/modules/Mage_XmlConnect.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/app/etc/modules/Cm_RedisSession.xml
/app/etc/modules/Mage_All.xml
/app/etc/modules/Mage_Api.xml
/app/etc/modules/Mage_Api2.xml
/app/etc/modules/Enterprise_AdminGws.xml
/app/etc/modules/Enterprise_Banner.xml
/app/etc/modules/Enterprise_Bundle.xml
/app/etc/modules/Enterprise_Catalog.xml
/app/etc/modules/Enterprise_CatalogEvent.xml
/app/etc/modules/Enterprise_CatalogInventory.xml
/app/etc/modules/Enterprise_CatalogPermissions.xml
/app/etc/modules/Enterprise_CatalogSearch.xml
/app/etc/modules/Enterprise_Checkout.xml
/app/etc/modules/Enterprise_Cms.xml
/app/etc/modules/Enterprise_Customer.xml
/app/etc/modules/Enterprise_CustomerBalance.xml
/app/etc/modules/Enterprise_CustomerSegment.xml
/app/etc/modules/Enterprise_Eav.xml
/app/etc/modules/Enterprise_Enterprise.xml
/app/etc/modules/Enterprise_GiftCard.xml
/app/etc/modules/Enterprise_GiftCardAccount.xml
/app/etc/modules/Enterprise_GiftRegistry.xml
/app/etc/modules/Enterprise_GiftWrapping.xml
/app/etc/modules/Enterprise_GoogleAnalyticsUniversal.xml
/app/etc/modules/Enterprise_ImportExport.xml
/app/etc/modules/Enterprise_Index.xml
/app/etc/modules/Enterprise_Invitation.xml
/app/etc/modules/Enterprise_License.xml
/app/etc/modules/Enterprise_Log.xml
/app/etc/modules/Enterprise_Logging.xml
/app/etc/modules/Enterprise_Mview.xml
/app/etc/modules/Enterprise_PageCache.xml
/app/etc/modules/Enterprise_Pbridge.xml
/app/etc/modules/Enterprise_Pci.xml
/app/etc/modules/Enterprise_Persistent.xml
/app/etc/modules/Enterprise_PricePermissions.xml
/app/etc/modules/Enterprise_PromotionPermissions.xml
/app/etc/modules/Enterprise_Reminder.xml
/app/etc/modules/Enterprise_Reward.xml
/app/etc/modules/Enterprise_Rma.xml
/app/etc/modules/Enterprise_SalesArchive.xml
/app/etc/modules/Enterprise_Search.xml
/app/etc/modules/Enterprise_Staging.xml
/app/etc/modules/Enterprise_Support.xml
/app/etc/modules/Enterprise_TargetRule.xml
/app/etc/modules/Enterprise_UrlRewrite.xml
/app/etc/modules/Enterprise_WebsiteRestriction.xml
/app/etc/modules/Enterprise_Wishlist.xml
/app/etc/modules/Inchoo_PHP7.xml
/app/etc/modules/Mage_Ogone.xml
/app/etc/modules/OnTap_Merchandiser.xml

